[submodule "lib/ogg"]
	path = lib/ogg
	url = https://github.com/ceramic-engine/ogg.git
[submodule "lib/vorbis"]
	path = lib/vorbis
	url = https://github.com/ceramic-engine/vorbis.git
[submodule "lib/theora"]
	path = lib/theora
	url = https://github.com/ceramic-engine/theora.git
